{% extends 'base.html' %} 
{% load static %} 

{% block content %}
<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Scrumptious</title>
    <link rel="stylesheet" href="{% static 'css/app.css' %}" />
  </head>

  <body>
    <header>
      <div class="pagination">
        <span class="step-links">
          {% if page_obj.has_previous %}
          <a href="?page=1">&laquo; first</a>
          <a href="?page={{ page_obj.previous_page_number }}">previous</a>
          {% endif %}

          <span class="current">
            Page {{ page_obj.number }} of {{ page_obj.paginator.num_pages }}.
          </span>

          {% if page_obj.has_next %}
          <a href="?page={{ page_obj.next_page_number }}">next</a>
          <a href="?page={{ page_obj.paginator.num_pages }}">last &raquo;</a>
          {% endif %}
        </span>
      </div>
    </header>
    <main>
      <h1> "Your shopping list" </h1>
      <div>
      <form method = "post" action="{% url 'delete_all_shopping_items' %}">
        {% csrf_token %}
          <button class="button">Delete all</button>
        </form>
        <div>
        {% for ingredient in recipe.ingredients.all %}
          <tr>
            <td>{{ ingredient.amount }}</td>
            <td>{{ ingredient.measure.name }}</td>
            <td>{{ ingredient.food.name }}</td>
        
            <td>
              {% if ingredient.food not in shoppingitems_list %}
                <form method="POST" action="{% url 'shopping_items_create' %}">
                  {% csrf_token %}
                  <input type="hidden" name="ingredient_id" value="{{ ingredient.id }}">
                  <button>+ shopping list</button>
                </form>
              {% else %}
                in your list
              {% endif %}
            </td>
          
          </tr>
        {% endfor %}
        </div>
      </div>
      <div>
        <ul> 
          {% for item in shopping_items_list %}
          <a href="{% url 'ingredient_detail' ingredient.pk %}">{{ ingredient.name }}</a>
          <li> {{ item.food_item.name }} </li>
          {% endfor %}
        </ul>
      </div>
    </main>
  </body>
</html>
{% endblock %} 
