{% extends 'base.html' %} {% block content %}
<main class="meal-plans-form">
  <form method="post">
    {% csrf_token %} {{ form.as_p }}
    <div class="control">
      <button class="button">Create a Meal Plan</button>
    </div>
  </form>
</main>
{% endblock content %}
