{% extends 'base.html' %} {% load markdownify %} {% block content %}
<main class="meal-plans-detail">
  {% if recipe.image %}
  <img src="{{ recipe.image }}" class="pull-right" />
  {% endif %}
  <h1>{{ mealplans.name }}</h1>
  <h2>by: {{ mealplans.user | default_if_none:"Unknown" }}</h2>
  <div>
    <a href="{% url 'meal_plans_update' mealplans.id %}">Edit</a>
    
    <a href="{% url 'meal_plans_delete' mealplans.id %}">Delete</a>
  </div>
    
  <p>To be served on: {{ mealplans.date }} </p>

  </form>
  <p>Recipes: {% for recipe in mealplans.recipes.all %}
    <li> <a href="{% url 'recipe_detail' recipe.pk %}">{{ recipe.name }}</a> </li>
  {% endfor %}</p>
</main>
{% endblock content %}
