{% extends 'base.html' %} {% block content %}
<main class="meal-plans-form">
  <form method="post">
    {% csrf_token %} {{ form.as_p }}
    <div class="control">
      <button class="button">Update</button>
    </div>
  </form>
</main>
{% endblock content %} {% comment %}
C:\Users\otsch\projects\scrumptious-recipes-hardening-2\meal_plans\templates\meal_plans\edit.html
C:\Users\otsch\projects\scrumptious-recipes-hardening-2\meal_plans/meal_plans/meal_plans/templates/meal_plans/edit.html
{% endcomment %}
