{% extends 'base.html' %} {% load static %} {% block content %}
<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Meal Plans</title>
    <link rel="stylesheet" href="{% static 'css/app.css' %}" />
  </head>

  <body>
    <header>
      <div>
        <a href="{% url 'meal_plans_create' %}">Create Meal Plan</a>
      </div>
      <div class="pagination">
        <span class="step-links">
          {% if page_obj.has_previous %}
          <a href="?page=1">&laquo; first</a>
          <a href="?page={{ page_obj.previous_page_number }}">previous</a>
          {% endif %}

          <span class="current">
            Page {{ page_obj.number }} of {{ page_obj.paginator.num_pages }}.
          </span>
          
          {% if page_obj.has_next %}
          <a href="?page={{ page_obj.next_page_number }}">next</a>
          <a href="?page={{ page_obj.paginator.num_pages }}">last &raquo;</a>
          {% endif %}
        </span>
      </div>
    </header>
    <main class="meal-plans-grid">
      {% for mealplan in mealplans_list %}
      <div class="meal-plans-card">
        <h2 class="meal-plans-title">
          {% if user.is_authenticated %}
          <a href="{% url 'meal_plans_detail' mealplan.pk %}"
            >{{ mealplan.name }}</a>
          {% endif %}
        </h2>
        <p class="meal-plans-date">{{ mealplan.updated }}</p>
      </div>
      {% endfor %}
      
      {% if user.is_authenticated %}
      {% endif %}
    </main>
  </body>
  <footer> 
  </footer>
</html>
{%endblock content%}
